15-adhoc/swiggy/*
15-adhoc/array_diff_go_vs_ruby_benchmark/*
15-adhoc/certificate_mailer/v1/data.csv
15-adhoc/check_vaccine/covaccine-cron
15-adhoc/json_schema_validation/schema.json
15-adhoc/json_schema_validation/response.json