<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1> slice of data : </h1>

<ul>
  {{ range . }}
    <li>{{ . }}</li>
  {{ end }}
</ul>

<!-- Alternative way of looping: -->
<ul>
  {{ range $index, $element := . }}
    <li>{{ $index }} - {{ $element }}</li>
  {{ end }}
</ul>

</body>
</html>