<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>
    The meaning of life is : {{.}} <!-- dot(.) hold the current data -->
    {{ $wisdom = . }}
    Another way of doing the same is: {{ $wisdom }}
  </h1>
</body>
</html>